*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
}
header{
    background: rgb(34,99,195);
    background: linear-gradient(0deg, rgba(34,99,195,1) 0%, rgba(25,201,93,0.8099614845938375) 100%);
    height: auto;
    padding: 28px;
    width: 100%;

} 

/* Estilos adicionales para la cuadrícula */
.cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    grid-gap: 10px; /* Espacio entre las divisiones */
}

.division {
    padding: 10px;
    background: rgb(88,105,186);
    background: radial-gradient(circle, rgba(88,105,186,1) 0%, rgba(137,233,128,0) 100%);
}
/*imagenes*/
.division img{
    width: 300px; /* Ancho de la imagen */
    height: auto; /* Altura ajustada automáticamente */
    margin-bottom: 10px; /* Espacio inferior */
    
}
.img{
    display: block; 
    margin: 0 auto;
}
/*formulario columnas*/
.division .columnas {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.division .columna {
    flex-basis: 45%;
}
h2{
    text-align: center;
}
/*cuadros del formlario*/
fieldset{
    background: rgba(213, 221, 213, 0.37);
}
/*footer*/
#pie{
    height: 50px;
}
footer {
    position: static;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(34,99,195);
    background: linear-gradient(0deg, rgba(34,99,195,1) 0%, rgba(25,201,93,0.8099614845938375) 100%);
    padding: 4px;
    text-align: center;
}
.links ul{
    list-style: none;

    display: flex;
    align-items: center;
}
.links ul li{
    margin-right: 35px;
    align-items: center;
}
.links ul li a{
    color: #141313;
    align-items: center;
}
.links ul li a:hover{
    color: bisque;
    align-items: center;
}
#social{
    height: 35px;
    width: 35px; 
    align-items: center;

}
/*centrado del contenido*/
ul {
    text-align: center;
    list-style-type: none;
  }

  .social-icon {
    display: inline-block;
    vertical-align: middle;
  }

  li {
    display: inline-block;
    margin: 10px;
  }