body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex; /* Convierte el contenedor en un contenedor flexible */
    align-items: stretch; /* Establece la altura de los elementos internos para que se extiendan al 100% de la altura del contenedor */
}    
.hr-center {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: salmon;
    margin: 10px auto;
  }
.particion1{
    width: 35%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #C8E6C9;
    margin: 10px auto;
}
.particion2{
    width: 35%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #FFCDD2;
    margin: 10px auto;

}
.particion3{
    width: 30%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #D7CCC8;
    margin: 10px auto;
}

img{
    width: 200px;
    height: auto;
    display:inline-block;
}